// variables
$common-padding: 1.6rem;
$common-margin: 1.6rem;
$dark: #212121;
$light: #eeeeee;

:root,
html {
    font-size: 62.5%;
}

// typography
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    font-size: 16px; /* fallback */
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.872rem;
}

h1,
h2,
h3 {
    font-weight: bold;
}

// styles
.container {
    max-width: 160rem;
    margin: 3rem auto;
    h1 {
        margin-bottom: $common-margin;
        text-align: center;
    }
}

.grid {
    img {
        width: 100%;
    }
    .grid-item {
        margin: 1rem;
        border: 0.1rem solid $dark;
        padding: 1rem;
    }
    .meme {
        width: 30rem;
    }
    .scenery {
        width: 35rem;
    }
    .random,
    .text {
        width: 25rem;
    }
    .text {
        border: 0.1rem solid;
        padding: $common-padding;
        h3 {
            background-color: $dark;
            color: $light;
            text-align: center;
            margin-bottom: $common-margin;
            padding: $common-padding;
        }
    }
}
