// variables
$common-padding: 1.6rem;
$common-margin: 1.6rem;
$dark: #212121;
$light: #eeeeee;
$primary: #003d46;
$main-font: "Open Sans", sans-serif;
$special-font: "Redressed", cursive;

:root,
html {
    font-size: 62.5%;
}

// typography
body {
    font-family: $main-font;
    font-size: 1.6rem;
    font-size: 16px; /* fallback */
    line-height: 1.5;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.872rem;
}

h1,
h2,
h3 {
    font-weight: bold;
}

// styles
.container {
    max-width: 120rem;
    margin: 3rem auto;
    h1 {
        margin-bottom: $common-margin;
        text-align: center;
        font-family: $special-font;
        font-size: 4.8rem;
    }
}

.item-menu {
    .selectGroup {
        display: flex;
        gap: 0.5rem;
        font-weight: bold;
        justify-content: center;
        margin-bottom: $common-margin;
        .btn-primary {
            cursor: pointer;
            background-color: $dark;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            color: $light;
            transition: 0.2s;
            &:active,
            &.is-checked,
            &:hover {
                background-color: $primary;
            }
        }
    }
}

.grid {
    img {
        width: 100%;
    }
    .grid-item {
        margin: 1rem;
        padding: 1rem;
        background-color: $primary;
        h2 {
            text-align: center;
            background-color: $light;
            color: $primary;
            padding: $common-padding;
        }
    }
    .width--1 {
        width: 35rem;
    }
    .width--2 {
        width: 50rem;
    }
    .width--3 {
        width: 25rem;
    }
    .text {
        width: 30rem;
        border: 0.1rem solid;
        padding: $common-padding;
        color: $light;
        h3 {
            background-color: $light;
            text-align: center;
            margin-bottom: $common-margin;
            padding: $common-padding;
            color: $primary;
        }
    }
}
